body {
  margin: 0;
}

.heading {
  line-height: 1.2;
  margin: 30px 0 60px;
  text-align: center;
}

.heading > span {
  font-size: 14px;
  font-style: italic;
  display: block;
}

.container {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.slick {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #DDD;
}

.slick__heading {
  margin: 50px 0;
  text-align: center;
}

.slick__item {
  font-size: 36px;
  line-height: 500px;
  height: 500px;
  text-align: center;
  color: #FFF;
  background: deepskyblue;
}

.slick-prev,
.slick-next {
  font-size: 0;
  position: absolute;
  top: 50%;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background: transparent;
}

.slick-prev:before,
.slick-next:before {
  font-size: 60px;
  color: #FFF;
}

.slick-prev {
  left: 20px;
}

.slick-next {
  right: 20px;
}

.slick-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slick-dots > li {
  position: relative;
  float: left;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.slick-dots > li:last-child {
  margin-right: 0;
}

.slick-dots > li.slick-active:before {
  opacity: 1;
}

.slick-dots > li:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  content: '';
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: .5;
  border-radius: 50%;
  background-color: #FFF;
}

.slick-dots button {
  display: none;
}

.slick-nav .slick-track {
  top: 10px;
}

.slick-nav__item {
  cursor: pointer;
  opacity: .5;
}

.slick-nav__item.slick-active {
  opacity: 1;
}

.slick-nav__item > img {
  max-width: 100%;
}

@media (max-width: 960px) {
  .container {
    width: 100%;
  }
}
